*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h1,h2,h6 {
    text-align: center;
    padding: 15px;
}

pre {
    text-align: justify;
}

p {
    padding-top: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}